/* Night Mode Styles */
.night-mode {
  background-color: #1d231f;
  color: #ffffff;
}

/* Light Mode Styles */
.light-mode {
  background-color: #d1e2d7;
  color: #333333;
}

/* Toggle Switch Styles */
.toggle-checkbox {
  display: none;
}

.toggle-label {
  position: relative;
  display: inline-block;
  width: 100px; /* Adjust width as needed */
  height: 30px; /* Adjust height as needed */
  background-color: #ccc;
  border-radius: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #63ab45; /* Adjust color for checked state */
  color: #ffffff;
}
