.night-mode {
  background-color: #1d231f;
  color: #ffffff;
}



.light-mode {
  background-color: #d1e2d7;
  color: #333333;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 30px; 
  background-color: #ccc;
  border-radius: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #63ab45; 
  color: #ffffff;
}
